*{
	margin: 0;
	padding: 0;
}

h1{
	font-family: 'helvetica';
	font-size: 30pt;
	color: white;
	padding: 30pt;
}

.topnav{
	background-color: #010c28;
	padding: 20pt;
	margin:0px 0px 0px 0px;
	font-family: 'helvetica';	
}

a{
	text-decoration:none;
	background-color: #010c28;
	font-size: 14pt;
	color: #a19caa;
	padding: 15pt;

}
.container{
	background-image: url(sky.jpg);
	background-size: cover;
	background-repeat: none;
	height: 100%;

}

.img{
	width:50pt;
}

button {
  background-color: #010c28;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20pt;
}
